
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>FitzBuzz</h1>
    <p>You ever wondered what the FizzBuzz value for 6,364,473 was? Me neither! But here's a website for those people that do!</p>
    <p>Those people will find everything they need below. There's also a #JSOB API coming soon ;)</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <h1>All the FizzBuzzes!</h1>
    <table class="table">
    <tr>
      <th>number</th>
      <th>value</th>
    </tr>
      <% @fizzbuzzs.each do |fb| %>
        <tr>
          <td><%= fb.number %></td>
          <td><%= fb.value %></td>
          <% if current_user %>
          <td>
            <% if current_user.fizz_buzzs.include?(fb) %>
              <%= link_to 'Unfavourite?', users_fizz_buzz_path(fb.id), method: :delete, class: 'btn btn-danger' %>
            <% else %>
              <%= button_to 'Favourite?', users_fizz_buzzs_path, params: {fizz_buzz_id: fb.id}, class: 'btn btn-default' %>
            <% end %>
          </td>
          <% end %>
        </tr>
      <% end %>
      <div>
        <%= will_paginate @fizzbuzzs, renderer: BootstrapPagination::Rails %>
      </div>
    </table>
  </div>
</div>
